body {
        margin: 0;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .header {
        background-color: #2A2F4F;
        padding: 30px;
        text-align: center;
      }
      
      #navbar {
        overflow: hidden;
        background-color: #2A2F4F;
      }
      
      #navbar a {
        float: left;
        display: block;
        color: #E5BEEC;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      
      #navbar a:hover {
        background-color: #917FB3;
        color: #480454;
      }
      
      #navbar a.ini {
        background-color: #324;
        color: white;
      }
      
      .texto {
        padding: 10px;
        font-size: 20px;
        color:#917FB3;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .texto {
        padding-top: 60px;
      }
      h3{
        font-size: 40px;
        color:rgba(53, 15, 90, 0.921);
        text-align: center;
      }
      #fabu{
        color: #E5BEEC;
      }
      #fabu2{
        color: #E5BEEC;
      }
